# Folders
dist/
node_modules/

# File managers
.DS_Store
.directory
desktop.ini

# Other lockfiles
package-lock.json
npm-shrinkwrap.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Excel files
*.xlsx

# Now this is a typescript project
index.js
